<!-- hi <h2> {{title}}</h2>
<p>its my project</p> -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<div id="bg">
  <img src="https://api-lunacy.icons8.com/api/assets/c163c5eb-f988-4d55-9052-c9e8ded6c92e/bg.png">
</div>
<body>
  <div class="column-layout">
    <div class="main-column">

      <div class="container">
        <a class="TBalance" href="#">Banalnce</a>
        <a class="YouOwe" href="#">You Owe</a>
        <a class="YouAreOwed" href="#">You are Owed</a>
        <a class="AddAnExpense" href="#">ADD EXPENSE</a>
        <a class="SettleUP" href="#">SETTLE UP</a>

      </div>

  <div id="dashboard">
    <img src="https://api-lunacy.icons8.com/api/assets/bfc891ed-243b-4267-b84b-e866bc577285/dashboard.png" >
  </div>
  <div >
    <h2 class="YouOwe">You Owe</h2>
    <ul>
      <li><em>Mom's Birthday Party!</em></li>
      <li><em> Trip to Geneva Lake!</em></li>
      <li><em> Baby Shower</em></li>
      <li><em>Welcome Party!</em></li>
    </ul>
    <div >
      <h2 class="YouAreOwed">You Are Owed</h2>
      <ul>
        <li><em>DePaul Hoodie</em></li>
        <li><em>Pizza</em></li>
        <li><em>Night out</em></li>
        <li><em>Welcome Party!</em></li>
      </ul>
    </div>
  </div>

  <div id="line">
    <img src="https://api-lunacy.icons8.com/api/assets/4607a47a-d3e2-4644-a2ec-1f088877ae88/Line.png" >
  </div>
  <div id="logo">
    <img src="https://api-lunacy.icons8.com/api/assets/282b3126-58ff-45f7-8738-60754e0b5a9b/1.png" >
  </div>
  <div id = "home">
    <img src="https://api-lunacy.icons8.com/api/assets/ce81acfb-e154-45d1-8497-78899fef4eb0/home.png" >
  </div>
  <div id="aboutus">
    <img src="https://api-lunacy.icons8.com/api/assets/aad6f451-bd26-4009-a4a8-537ffdfcca89/about us.png">
  </div>
  <div id="activity">
    <img src="https://api-lunacy.icons8.com/api/assets/51343f86-1437-4d40-a65c-cefa56c9399e/activity.png">
  </div>
  <div id="help">
    <img src="https://api-lunacy.icons8.com/api/assets/013ece53-30d2-4a58-8e84-b479347c142d/help.png">
  </div>
  <div id="logout">
    <img src="https://api-lunacy.icons8.com/api/assets/861acfd3-3f24-4b88-a2da-020c27f8a6e0/log out.png">
  </div>
  <div id="facebook">
    <img src="https://api-lunacy.icons8.com/api/assets/90e222c0-6f8a-4c6e-88c2-7c3f32c9b449/facebook.png">
  </div>
  <div id="twitter">
    <img src="https://api-lunacy.icons8.com/api/assets/a8da571e-ff32-47b7-9354-dbc29b8414e2/twitter.png">
  </div>
  <div id="matthew">
    <img src="https://api-lunacy.icons8.com/api/assets/d1f8fe08-30b8-472d-b2c2-7213c2b8beb0/Matthew.png">
  </div>

  <div id="friendbase">
    <img src="https://api-lunacy.icons8.com/api/assets/c372adf4-d6b1-4d56-b902-b31cbc3acbd6/base.png">
  </div>
  <p id="paraFriend">Friend (39) </p>
  <div id="friendPlus">
    <img src="https://api-lunacy.icons8.com/api/assets/70a8a2d0-2f8e-44ac-8678-504abde03567/plus.png">
  </div>
  <div id="groupBase">
    <img src="https://api-lunacy.icons8.com/api/assets/d283a37e-88be-4146-a484-92133c80e307/base.png">
  </div>

  <div id="groupPlus">
    <img src="https://api-lunacy.icons8.com/api/assets/70a8a2d0-2f8e-44ac-8678-504abde03567/plus.png">
  </div>
  <p id="groups7">Group (7)</p>

  <div id="bullets">
    <img src="https://api-lunacy.icons8.com/api/assets/11d87e84-be45-4acb-bd7f-bf806ced8396/bullets.png">
  </div>
  <div id="groupText">
    <img src="https://api-lunacy.icons8.com/api/assets/e7d482b9-a9b9-4d9e-89a3-8f38b2e4d85e/Eurasia trips Amy’s Birthday South America and Japan Depaul Cla.png">
  </div>






